.gcloudignore
.git
.gitignore
backend/.venv
backend/.env
backend/creatrix.db
__MACOSX
*.DS_Store
*.mov
*.mp4
*.png
*.jpg
*.pdf
node_modules
.firebase
.firebaserc
frontend/
README.md
docker-compose.yml
cloudbuild.yaml
Screen*
Screenshot*
keyss.txt
